body
	{
		background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFDy4noNOBtNpzKenwL6R-so8cscEcy8SByXkjCmy8GLXu_Vp5t9mNSoDE2ozEH-F_YuQ&usqp=CAU');
	}

a:link, a:visited
	{
		background-color: rose;
		color: white;
		text-decoration: none;
		padding: 5px;
		text-align: center;
		display: inline-block;
		font-family: verdana;
	}


a:hover
	{
		color: arctic;
		background-color: purple;
		text-decoration: underline;
	}

a:active
	{
		color: emerald;
		background-color: yellow;
		text-decoration: underline;
	}
